html
{
  font-size: 1vmin;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: clip;
}

body
{
  color: white;
  font-family: Tohoma, Verdana, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

div
{
  background-color: #858A49;
  text-align: center;
}

label
{
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: clip;
}

.bl
{
  border-left: 3px solid white;
}

.bt
{
  border-left: 3px solid white;
}

.sheet
{
  position: absolute;
  left: 1%;
  right: 1%;
  top: 1%;
  bottom: 1%;
  display: grid;
  grid-template-columns: repeat(6, 14fr) 16fr;

  column-gap: 3px;
  row-gap: 3px;
  grid-column-gap: 3px;
  grid-row-gap: 3px;  

  background-color: white;
}

.font-lg
{
  font-size: 4rem;
}

.font-md
{
  font-size: 2.9rem;
}

.font-sm
{
  font-size: 2.2rem;
}

.img-sm
{
  width: 3.5rem;
  height: 3.5rem;
  vertical-align: middle;
}

.vert-center
{
  align-content: center;
}

input
{
  min-width: 0;
  min-height: 0;
  width: 90%;
  color: white;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  background-color: transparent;
}

input:focus
{
  outline: none;
}

.border-bottom
{
  border-bottom: 2px solid white;
}

/* Customize the label (the container) */
.custom-chkbox
{
  display: block;
  position: relative;
  padding-left: 3em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

/* Hide the browser's default checkbox */
.custom-chkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: auto;
  left: 1.3em;
  height: 1.1em;
  width: 1.1em;
  border: 2px solid white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-chkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-chkbox .checkmark:after {
  left: 0.35em;
  top: 0.2em;
  width: 0.2em;
  height: 0.4em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-chkbox:has(input[type='checkbox']:not(:checked))
{
  color: #515C2A;
}

.custom-chkbox:has(input[type='checkbox']:not(:checked)) > span,
.custom-chkbox:has(input[type='checkbox']:not(:checked)) + div > input
{
  border-color: #515C2A;
  pointer-events: none;
}

div:has(> input[type='number']:hover),
.custom-chkbox:has(+ div > input[type='number']:hover),
.box-with-hdr:has(> div > input[type='number']:hover) > div
{
	background-color: #515C2A;
}


/* Explicitly specify grid properties for all grid items.  This allows items
   to appear in any order in the html and they will still render at the
   correct spot. */
.gameId
{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #515C2A;
}

.forestHdr
{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #515C2A;
}

.grainHdr
{
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #515C2A;
}

.villageHdr
{
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #515C2A;
}

.trackHdr
{
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #515C2A;
}

.streamHdr
{
  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #515C2A;
}

.totalHdr
{
  grid-column-start: 7;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  background-color: #515C2A;
}

.tasksHdr
{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.forestTasks
{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.grainTasks
{
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.villageTasks
{
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.trackTasks
{
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.streamTasks
{
  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.tasksTotal
{
  grid-column-start: 7;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.flagsHdr
{
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.box-with-hdr
{
  display: grid;
  grid-template-rows: 25fr 75fr;
  grid-template-columns: 100fr;
}

.forestFlagsBox
{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.grainFlagsBox
{
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.villageFlagsBox
{
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.longestTrackBox
{
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.longestStreamBox
{
  grid-column-start: 6;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.flagsTotal
{
  grid-column-start: 7;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
}

.unlocksBox
{
  grid-column-start: 1;
  grid-column-end: span 6;
  grid-row-start: 4;
  grid-row-end: span 1;
}

.unlocksTotal
{
  grid-column-start: 7;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
}

.miscBox
{
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 5;
  grid-row-end: span 1;
}

.resultsHdr
{
  grid-column-start: 5;
  grid-column-end: span 2;
  grid-row-start: 5;
  grid-row-end: span 1;
}

.results
{
  grid-column-start: 7;
  grid-column-end: span 1;
  grid-row-start: 5;
  grid-row-end: span 1;
}

@media (orientation: portrait)
{
  .sheet
  {
    grid-template-rows: 6fr 6fr 6fr 72fr 10fr;
  }

  .unlocksBox
  {
    display: grid;
    grid-template-rows: 2fr repeat(16, 6fr) 2fr;
    grid-template-columns: 85fr 15fr;
    padding: 0 3% 0 1%;
  }

  .unlocksHdr
  {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    text-align: left;
  }
  
  .redHeartsChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  
  .redHearts
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  
  .circusChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  
  .circus
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  
  .signalmanChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  
  .signalman
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  
  .shepherdessChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  
  .shepherdess
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  
  .hillChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 7;
    grid-row-end: span 1;
  }
  
  .hill
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 7;
    grid-row-end: span 1;
  }
  
  .constructionSiteChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 8;
    grid-row-end: span 1;
  }
  
  .constructionSite
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 8;
    grid-row-end: span 1;
  }
  
  .balloonLaunchSiteChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 9;
    grid-row-end: span 1;
  }
  
  .balloonLaunchSite
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 9;
    grid-row-end: span 1;
  }
  
  .goldenHeartChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 10;
    grid-row-end: span 1;
  }
  
  .goldenHeart
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 10;
    grid-row-end: span 1;
  }
  
  .forestCabinChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 11;
    grid-row-end: span 1;
  }
  
  .forestCabin
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 11;
    grid-row-end: span 1;
  }
  
  .harvestFestivalChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 12;
    grid-row-end: span 1;
  }
  
  .harvestFestival
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 12;
    grid-row-end: span 1;
  }
  
  .watchtowerChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 13;
    grid-row-end: span 1;
  }
  
  .watchtower
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 13;
    grid-row-end: span 1;
  }
  
  .locomotiveChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 14;
    grid-row-end: span 1;
  }
  
  .locomotive
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 14;
    grid-row-end: span 1;
  }
  
  .shipChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 15;
    grid-row-end: span 1;
  }
  
  .ship
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 15;
    grid-row-end: span 1;
  }
  
  .trainStationChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 16;
    grid-row-end: span 1;
  }
  
  .trainStation
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 16;
    grid-row-end: span 1;
  }
  
  .harborChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 17;
    grid-row-end: span 1;
  }
  
  .harbor
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 17;
    grid-row-end: span 1;
  }
}

@media (orientation: landscape)
{
  .sheet
  {
    grid-template-rows: 10fr 10fr 10fr 60fr 10fr;
  }

  .unlocksBox
  {
    display: grid;
    grid-template-rows: 12fr repeat(8, 11fr);
    grid-template-columns: 40fr 7fr 6fr 40fr 7fr;
    padding: 1% 3% 1% 1%;
  }

  .unlocksHdr
  {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: span 1;
    text-align: left;
  }
  
  .redHeartsChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  
  .redHearts
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  
  .circusChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  
  .circus
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  
  .signalmanChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  
  .signalman
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  
  .shepherdessChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  
  .shepherdess
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  
  .hillChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  
  .hill
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  
  .constructionSiteChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 7;
    grid-row-end: span 1;
  }
  
  .constructionSite
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 7;
    grid-row-end: span 1;
  }
  
  .balloonLaunchSiteChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 8;
    grid-row-end: span 1;
  }
  
  .balloonLaunchSite
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 8;
    grid-row-end: span 1;
  }
  
  .goldenHeartChk
  {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 9;
    grid-row-end: span 1;
  }
  
  .goldenHeart
  {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 9;
    grid-row-end: span 1;
  }
  
  .forestCabinChk
  {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  
  .forestCabin
  {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
  }
  
  .harvestFestivalChk
  {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  
  .harvestFestival
  {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
  
  .watchtowerChk
  {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  
  .watchtower
  {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  
  .locomotiveChk
  {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  
  .locomotive
  {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }
  
  .shipChk
  {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  
  .ship
  {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 6;
    grid-row-end: span 1;
  }
  
  .trainStationChk
  {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 7;
    grid-row-end: span 1;
  }
  
  .trainStation
  {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 7;
    grid-row-end: span 1;
  }
  
  .harborChk
  {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 8;
    grid-row-end: span 1;
  }
  
  .harbor
  {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 8;
    grid-row-end: span 1;
  }
}
